<a class="github-fork-ribbon" href="https://github.com/yyyc514/pastie_express/" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>

footer.hljs
  | &nbsp;
footer.real
  .copyright
    | &copy; 2020 Josh Goebel
  .poweredby
    <span>Powered by
      <a href="https://nodejs.org/en/">Node.js</a>,
      <a href="https://expressjs.com/">Express</a>,
      <a href="https://highlightjs.org">Highlight.js</a>, and Love.
