doctype html
html
  head
    link(rel='icon',type='image/png',href='/images/pastie.png')
    link(rel='shortcut icon',type='image/png',href='/images/pastie.png')
    title Pastie (alpha)
    link#hljsTheme(rel="stylesheet", href=`/css/v/${theme}`)
    link(rel="stylesheet", href="/css/main.css")
  body.simple
    h1 500
    h2 Internal Server Error
    p Something bad and unexpected happened. So sorry.